@import "../../assets/css/main.css";

/*==================== chapter ====================*/
.chapter__container{
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
  
.chapter__content{
    position: relative;
    background-color: var(--container-color);
    padding: 2rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.def__chapter__content{
    position: relative;
    background-color: var(--container-color);
    padding: 2rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    border: #000 1px solid;  
}
  
  .chapter__content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
  }
  
  .chapter__icon{
    display: block;
    font-size: 2.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .chapter__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
  }
  
  .chapter__button{
    cursor: pointer;
    font-size: var(--normal-font-size);
    margin-top: var(--mb-0-75);
  }
  
  .chapter__button:hover .button__icon{
    transform: translateX(.25rem);
  }

.cpage__content{
    padding: 0 3rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px;
    margin: 0 3rem;
}

.cpage__li{
    margin-left: 2em;
}

.cpage__subli{
    margin-left: 4em;
}

.cpage__subli__li{
    margin-left: 6em;
}

table, th, td {
    border:1px solid black;
}

.cpage__table{
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.cpage__table thead tr{
    text-align: center;
    background-color: var(--first-color-second);
    color: #fff;
}

.cpage__table th,
.cpage__table td{
    text-align: center;
}

.cpage__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpage__img img{
    width: 80%;
}

.def__description{
    padding: 2px;
    text-align: left;
}

#searchInput{
	margin-left: 15%;
    margin-bottom: 5%;
	padding:15px;
	border-radius: 10px;
    background-color: var(--container-color);
    color: var(--text-color);
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text] {
	width: 70%;
}

.definition{
    display: list-item;
    list-style: none;
}

.def__href{
    text-decoration: none;
    color: var(--first-color-second);
    font-weight: var(--font-medium);
}
  
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .chapter__container{
        justify-content: center;
      }
    
    .chapter__content{
        padding-right: 0.5rem;
    }

    .button--cpage{
        display: flex;
        justify-content: space-evenly;
        font-size: 8px;
        padding: 4px;
    }

    .button--prev{
        margin-left: 0;
    }

    .button--next{
        margin-right: 0;
    }

    .cpage__exam{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cpage__content{
        padding: 4px;
        padding-left: 20px;
    }
}

/* For medium devices */
@media screen and (min-width: 568px){
    .button--cpage{
        display: flex;
        justify-content: space-evenly;
    }

    .button--prev{
        margin-left: 0rem;
    }

    .button--next{
        margin-right: 0rem;
    }

    .cpage__exam{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cpage__content{
        padding: 4px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 767px){
    .chapter__container{
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }
    
    .chapter__icon{
        font-size: 2rem;
    }
    
    .chapter__content{
        padding: 1rem 0 1rem 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .chapter__container{
        grid-template-columns: repeat(5, 238px);
    }

    .cpage__content{
        padding: 3rem;
    }
}